<?xml version='1.0'?>
<!-- Created with MSI Factory version 2.1.1011.0
     on 2016-10-23 at 22:58:04 -->
<?include BuildVars.wxi?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
<Product Id="$(var.ProductBuildGUID)" Name="HawkCD Agent - $(var.BuildNumber) - Alpha" Version="$(var.BuildNumber)" Manufacturer="RnD Solutions Ltd." UpgradeCode="42BE78AA-859D-4C17-8DFD-A21CBC3083AF" Language="1033">
<Package InstallerVersion="301" Description="Hawk CD Agent" Comments="Package Comments" Platform="x86" Manufacturer="RnD Solutions Ltd." Languages="0" Compressed="yes"/>
<Upgrade Id="42BE78AA-859D-4C17-8DFD-A21CBC3083AF">
<UpgradeVersion Property="OLDERVERSIONBEINGUPGRADED" Minimum="0.0.0" Maximum="$(var.BuildNumber)" IncludeMinimum="yes"/>
<UpgradeVersion Property="NEWERVERSIONDETECTED" Minimum="$(var.BuildNumber)" OnlyDetect="yes"/>
</Upgrade>
<InstallExecuteSequence>
<RemoveExistingProducts After="InstallInitialize"/>
</InstallExecuteSequence>
<InstallUISequence/>
<AdminExecuteSequence/>
<AdminUISequence/>
<AdvertiseExecuteSequence/>
<Media Id="1" DiskPrompt="Disk 1" Cabinet="setup.cab" EmbedCab="yes" CompressionLevel="mszip"/>
<Property Id="DiskPrompt" Value="!(loc.UIDiskPrompt)"/>
<Property Id="ARPURLINFOABOUT" Value="http://www.hawkcd.io"/>
<Property Id="ARPHELPLINK" Value="http://docs.hawkcd.io"/>
<Property Id="ARPNOMODIFY" Value="1"/>
<Property Id="ARPPRODUCTICON" Value="hawk_0001.ico"/>
<Icon Id="hawk_0001.ico" SourceFile="$(var.Buildzone)\Installers\Images\hawk.ico"/>
<Property Id="ALLUSERS" Value="1"/>
<Property Id="INSTALLER_TYPE" Value="Agent" Secure="yes"/>
<Property Id="IS_JAVA_INSTALLED" Value="1" Secure="yes"/>
<Property Id="IS_REDIS_PORT_IN_USE" Value="0" Secure="yes"/>
<Property Id="MSIFACTUIRMOption" Value="UseRM"/>
<Property Id="MSIFACT_INSTALLDIR" Value="INSTALLDIR"/>
<Property Id="SERVER_ADDRESS" Value="localhost" Secure="yes"/>
<Property Id="SERVER_PORT" Value="8080" Secure="yes"/>
<Feature Id="Complete" Title="Complete" Level="1" Description="Complete program features." Absent="allow" AllowAdvertise="no" TypicalDefault="install" Display="collapse" InstallDefault="local">
<ComponentRef Id="RegKey_0001"/>
<ComponentRef Id="RegValAdd_0002"/>
<MergeRef Id="Hawk_Agent_Files"/>
</Feature>
<Directory Id="TARGETDIR" Name="SourceDir">
<Directory Id="ProgramFilesFolder" Name="ProgramFilesFolder">
<Directory Id="HAWKCDDIR" Name="HawkCD">
<Directory Id="INSTALLDIR" Name="Agent"/>
</Directory>
</Directory>
</Directory>
<UIRef Id="SUFWI_UI"/>
<CustomAction Id="UpdateAgentConfigFile" Impersonate="yes" Return="check" Execute="immediate" BinaryKey="CustomActions.CA.dll" DllEntry="UpdateAgentConfigFile"/>
<CustomAction Id="DetectJava" Impersonate="yes" Return="ignore" Execute="immediate" BinaryKey="CustomActions.CA.dll" DllEntry="DetectJava"/>
<CustomAction Id="UpdateServiceAppConfig" Impersonate="yes" Return="check" Execute="immediate" BinaryKey="CustomActions.CA.dll" DllEntry="UpdateServiceAppConfig"/>
<CustomAction Id="InstallService" Impersonate="yes" Return="check" Execute="immediate" BinaryKey="CustomActions.CA.dll" DllEntry="InstallService"/>
<CustomAction Id="UninstallService" Impersonate="yes" Return="check" Execute="immediate" BinaryKey="CustomActions.CA.dll" DllEntry="UninstallService"/>
<CustomAction Id="BackupConfigFiles" Impersonate="yes" Return="check" Execute="immediate" BinaryKey="CustomActions.CA.dll" DllEntry="BackupConfigFiles"/>
<CustomAction Id="RestoreConfigFiles" Impersonate="yes" Return="check" Execute="immediate" BinaryKey="CustomActions.CA.dll" DllEntry="RestoreConfigFiles"/>
<CustomAction Id="SetTargetDirCA" Impersonate="yes" Return="check" Execute="immediate" Property="TARGETDIR" Value="[INSTALLDIR]"/>
<CustomAction Id="StopService" Impersonate="yes" Return="check" Execute="immediate" BinaryKey="CustomActions.CA.dll" DllEntry="StopService"/>
<Binary Id="CustomActions.CA.dll" SourceFile="$(var.Buildzone)\CustomActions\CustomActions\bin\Debug\CustomActions.CA.dll"/>
<InstallExecuteSequence>
<Custom Action="UpdateAgentConfigFile" After="InstallFinalize">NOT REMOVE~="ALL" AND NOT OLDERVERSIONBEINGUPGRADED</Custom>
<Custom Action="DetectJava" Before="AppSearch">1</Custom>
<Custom Action="UpdateServiceAppConfig" After="InstallFinalize">NOT REMOVE~="ALL" </Custom>
<Custom Action="InstallService" After="UpdateServiceAppConfig">NOT REMOVE~="ALL" </Custom>
<Custom Action="UninstallService" After="RemoveFiles">REMOVE~="ALL" </Custom>
<Custom Action="BackupConfigFiles" Before="RemoveExistingProducts">NOT REMOVE~="ALL" AND OLDERVERSIONBEINGUPGRADED</Custom>
<Custom Action="RestoreConfigFiles" After="InstallFinalize">NOT REMOVE~="ALL" AND OLDERVERSIONBEINGUPGRADED</Custom>
<Custom Action="SetTargetDirCA" Before="CostFinalize">NOT REMOVE~="ALL" AND OLDERVERSIONBEINGUPGRADED</Custom>
<Custom Action="StopService" Before="RemoveExistingProducts">NOT REMOVE~="ALL" AND OLDERVERSIONBEINGUPGRADED</Custom>
</InstallExecuteSequence>
<InstallUISequence>
<Custom Action="DetectJava" Before="AppSearch">1</Custom>
</InstallUISequence>
<UIRef Id="SUFWIUI_Common" />
<UIRef Id="SUFUI_ErrorText" />
<UIRef Id="SUFUI_ProgressText" />
</Product>
<Fragment>
<DirectoryRef Id="TARGETDIR">
<Component Id="RegKey_0001" Guid="E88C44F4-7051-415B-8DBC-AD5CBD774D50" KeyPath="yes">
<RegistryKey Action="createAndRemoveOnUninstall" Root="HKLM" Key="Software\RnD\Hawk\Agent"/>
</Component>
</DirectoryRef>
</Fragment>
<Fragment>
<DirectoryRef Id="TARGETDIR">
<Component Id="RegValAdd_0002" Guid="0284583B-3D56-46BE-8884-B40BAF94D727">
<RegistryValue Action="write" Type="string" Root="HKLM" Key="Software\RnD\Hawk\Agent" Name="Version" KeyPath="yes" Value="[VERSION]"/>
</Component>
</DirectoryRef>
</Fragment>
<Fragment>
<DirectoryRef Id="INSTALLDIR">
<Merge Id="Hawk_Agent_Files" SourceFile="$(var.Buildzone)\Merge Module Definitions\Agent.msm" DiskId="1" Language="1033"/>
</DirectoryRef>
</Fragment>
</Wix>
