<div id="jTabs">
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th> Tab Name </th>
        <th> Path </th>
        <th> Controls </th>
      </tr>
      </thead>
      <tbody>
      <!--EMPTY CUSTOM TABS-->
      </tbody>
    </table>
  </div>
  <button class="btn green" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-target="#addTab" data-toggle="modal">Add Tab</button>
</div>

<div ng-include src="'app/pipelines/views/partials/config/job-options/_add-tab.html'"></div>
