<div id="jTasks">
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th width="2%"> # </th>
        <th width="10%"> Task Type </th>
        <th width="5%"> Conditions </th>
        <th> Commands </th>
        <th width="5%"> On Cancel </th>
        <th width="15%"> Controls </th>
      </tr>
      </thead>
      <tbody ui-sortable="pipeConfig.sortableOptions" ng-class="{'unsortable' : pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'}" class="sortable" ng-model="pipeConfig.job.taskDefinitions">

      <!--ng-repeat-->
      <tr ng-repeat="task in pipeConfig.allPipelines[pipeConfig.pipelineIndex].stageDefinitions[pipeConfig.stageIndex].jobDefinitions[pipeConfig.jobIndex].taskDefinitions">
        <td> {{$index+1}} </td>
        <td> {{task.type}} </td>
        <td> {{task.runIfCondition}} </td>
        <td ng-if="task.type == 'EXEC'"> {{task.command + ' ' + task.arguments}} </td>
        <td ng-if="task.type == 'FETCH_MATERIAL'"> Material: {{task.materialName}} </td>
        <td ng-if="task.type == 'FETCH_ARTIFACT'"> Pipeline: {{task.designatedPipelineDefinitionName}}, Run: <span ng-if="task.shouldUseLatestRun == true">Latest</span><span ng-if="task.shouldUseLatestRun == false">{{task.designatedPipelineExecutionId}}</span>, Source: {{task.source}}, Destination: {{task.destination}}</td>
        <td ng-if="task.type == 'UPLOAD_ARTIFACT'"> Source: {{task.source}}, Destination: {{task.destination}}</td>
        <td> to do </td>
        <td>
          <button class="btn yellow" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-toggle="modal" data-target="#editTask" ng-click="pipeConfig.getTaskForUpdate(task)">Edit</button>
          <button class="btn red" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-toggle="modal" data-target="#removeTask"
                  ng-click="pipeConfig.getTask(task)" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" ng-if="pipeConfig.allPipelines[pipeConfig.pipelineIndex].stageDefinitions[pipeConfig.stageIndex].jobDefinitions[pipeConfig.jobIndex].taskDefinitions.length > 1">Delete</button>
        </td>
      </tr>
      <!--end ng-repeat-->

      </tbody>
    </table>
  </div>
  <button class="btn green" data-target="#addTask" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-toggle="modal">Add Task</button>
</div>

<div ng-include src="'app/pipelines/views/partials/config/job-options/_add-task.html'"></div>
<div ng-include src="'app/pipelines/views/partials/config/job-options/_edit-task.html'"></div>
<div ng-include src="'app/pipelines/views/partials/config/job-options/_remove-task.html'"></div>
