<!-- HEADER INNER -->
<div class="page-header-inner">
    <!-- LOGO -->
    <div class="page-logo">
        <label ng-if="pageSidebarClosed == false"><br>{{latestCommit}}</label>
        <!-- <a href="index.html">
    <img src="/assets/images/logo.png" alt="logo" class="logo-default" />
</a>
 -->
        <div class="menu-toggler sidebar-toggler" ng-click="openSidebar()">
        </div>
    </div>
    <!-- RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- PAGE TOP -->
    <div class="page-top">
        <!-- TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- USER LOGIN DROPDOWN -->
                <li class="dropdown dropdown-user">
                    <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                        <img alt="" class="img-circle" />
                        <span class="username username-hide-on-mobile"> {{me.UserName}} </span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="#/profile">
                                <i class="icon-user"></i> {{myProfile}} </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#" ng-click="logout()">
                                <i class="icon-key"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown dropdown-extended quick-sidebar-toggler">
                    <span class="sr-only">Toggle Quick Sidebar</span>
                    <i class="icon-logout"></i>
                </li>
            </ul>
        </div>
    </div>
</div>
