<div class="page-sidebar navbar-collapse collapse z-index-high">
    <!-- SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="false" data-slide-speed="200" ng-class="{'page-sidebar-menu-closed': pageSidebarClosed}">
        <li class="nav-item">
            <a href="#/pipelines">
                <i class="icon-settings"></i>
                <span class="title">Pipelines</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#/artifacts">
                <i class="icon-folder"></i>
                <span class="title">Artifacts</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#/agents">
                <i class="icon-check"></i>
                <span class="title">Agents</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#/profile">
                <i class="icon-user"></i>
                <span class="title">Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#/admin/groups">
                <i class="icon-wrench"></i>
                <span class="title">Admin</span>
            </a>
        </li>
    </ul>
</div>
