<div class="portlet light portlet-fit">
    <div class="portlet-title">
        <div class="caption">
            <i class=" icon-layers font-green"></i>
            <span class="caption-subject font-green bold uppercase">History</span>
        </div>
    </div>
    <div class="portlet-body" style="min-height: 508px;">

      <div class="hidden-sm hidden-md hidden-lg" ng-include src="'app/pipelines/views/partials/pipeline-history/_small-devices.html'">

      </div>

      <div class="hidden-xs hidden-lg" ng-include src="'app/pipelines/views/partials/pipeline-history/_medium-devices.html'">

      </div>

      <div class="hidden-xs hidden-sm hidden-md" ng-include src="'app/pipelines/views/partials/pipeline-history/_large-devices.html'">

      </div>

    </div>
