<!--<h3 class="page-title"> {{pipesHistory.labels.headers.history}}</h3>-->

<!--<div class="page-bar">-->
<!--<ul class="page-breadcrumb">-->
<!--<li>-->
<!--<i class="icon-home"></i>-->
<!--<a ui-sref="index.pipelines"> <span>{{pipesHistory.labels.breadCrumb.pipelines}}</span></a>-->
<!--</li>-->
<!--<li>-->
<!--<i class="fa fa-angle-right"></i>-->
<!--<a ui-sref="index.pipelineHistory({groupName:pipesHistory.groupName, pipelineName:pipesHistory.pipelineName})"> <span>{{pipesHistory.pipelineName}}</span></a>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->

<!--<div class="portlet box green">-->
<!--<div class="portlet-title">-->
<!--<div class="caption">-->
<!--<i class="fa fa-cogs"></i>{{pipesHistory.pipelineName}}-->
<!--</div>-->
<!--<div class="tools right">-->
<!--<a href="javascript:;" class="collapse"> </a>-->
<!--</div>-->
<!--</div>-->
<div class="portlet-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody ng-repeat="run in pipesHistory.currentPipelineRuns">
                <tr>
                    <td class="statusLabel" ng-class="{'labelEnabled' : run.status == 'PASSED', 'labelDisabled' : run.status == 'FAILED', 'labelRunning' : run.status == 'IN_PROGRESS'}"></td>
                    <td class="center-text">#{{run.executionId}} {{run.pipelineDefinitionName}}</td>
                    <td>
                        <div class="vertical-line"></div>
                    </td>
                    <td>
                        <div id="data-container">
                          <div id="history-git-icon">
                            <i class="fa fa-github-square"></i>
                          </div>
                        </div>

                    </td>
                    <td>
                        <div class="vertical-line"></div>
                    </td>
                    <td>
                        <div><i class="fa fa-user fa-1x"></i> user</div>
                        <div ng-model="run.lastUpdated"><i class="fa fa-calendar fa-1x"></i></div>
                    </td>
                    <td>
                        <div id="data-container">
                            <div id="management-link" ui-sref="index.pipelineRunManagement({pipelineName:run.pipelineDefinitionName, executionID: run.executionId, groupName: run.groupName})" class="fa-item">
                                <i class="fa fa-list"></i></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- <div ng-repeat="run in pipesHistory.currentPipelineRuns">
  <div class="m-heading-1 border-green m-bordered" >
    <div class="statusLabel" ng-class="{'labelEnabled' : run.status == 'PASSED', 'labelDisabled' : run.status == 'FAILED', 'labelRunning' : run.status == 'IN_PROGRESS'}"></div>
      <h3>DataTables Rowreorder Extension</h3>
      <p> RowReorder adds the ability for rows in a DataTable to be reordered through user interaction with the table (click and drag / touch and drag). </p>
      <p> For more info please check out
      </p>
  </div>
  <br/>
</div> -->
