<p> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
  moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
</p>


 <!--TODO FLOW LIBRARY!-->
<div flow-init>
  <input type="file" flow-btn />
  <span flow-btn>Upload File</span>
  <tr ng-repeat="file in $flow.files">
    <td>{{$index+1}}</td>
    <td>{{file.name}}</td>
  </tr>
</div>

<button ng-click="user.clicked()">dsadasdas</button>

</div>
<div class="clearfix margin-top-10">
  <span class="label label-danger"> NOTE! </span>
  <span> Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
</div>
</div>
<div class="margin-top-10">
  <a href="javascript:;" class="btn green"> Submit </a>
  <a href="javascript:;" class="btn default"> Cancel </a>
</div>
</form>

