<div class="col-md-9 config-tabs">
    <div class="tabbable-custom nav-justified">
        <ul class="nav nav-tabs nav-justified width-100">
            <li ui-sref-active="active" style="min-width:50px;float:left">
                <a data-target="#jobSettings" data-toggle="tab" aria-expanded="true" ui-sref="index.pipelineConfig.job.settings"><span class="fa fa-cog fa-2x" data-placement="bottom" onmouseenter="$(this).tooltip('show')" title="Job Settings"></span></a>
            </li>
            <li ui-sref-active="active" style="min-width:50px;float:left">
                <a data-target="#jTasks" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.job.tasks"><span class="fa fa-terminal fa-2x" data-placement="bottom" onmouseenter="$(this).tooltip('show')" title="Tasks"></span></a>
            </li>
            <li ui-sref-active="active" style="min-width:50px;float:left">
                <a data-target="#jEnvironmentVariables" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.job.variables"><span class="fa fa-arrows-h fa-2x" data-placement="bottom" onmouseenter="$(this).tooltip('show')" title="Environment Variables"></span></a>
            </li>
            <li ui-sref-active="active" style="min-width:50px;float:left">
                <a data-target="#jResources" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.job.resources"><span class="fa fa-arrows-alt fa-2x" data-placement="bottom" onmouseenter="$(this).tooltip('show')" title="Resources"></span></a>
            </li>
        </ul>
        <div class="tab-content" style="margin-top: -5px" ui-view>

        </div>
    </div>
</div>