<div class="col-md-9">
  <div class="tabbable-custom nav-justified">
    <ul class="nav nav-tabs nav-justified width-60">
      <li ui-sref-active="active">
        <a data-target="#jobSettings" data-toggle="tab" aria-expanded="true" ui-sref="index.pipelineConfig.job.settings"> Job Settings </a>
      </li>
      <li ui-sref-active="active">
        <a data-target="#jTasks" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.job.tasks"> Tasks </a>
      </li>
      <li ui-sref-active="active">
        <a data-target="#jEnvironmentVariables" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.job.variables"> Environment Variables </a>
      </li>
      <li ui-sref-active="active">
        <a data-target="#jResources" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.job.resources"> Resources </a>
      </li>
    </ul>
    <div class="tab-content" ui-view>

    </div>
  </div>
</div>


