<div class="col-md-9 config-tabs">
    <div class="tabbable-custom nav-justified">
        <ul class="nav nav-tabs nav-justified width-50">
            <li ui-sref-active="active" style="min-width:150px;">
                <a data-target="#jobSettings" data-toggle="tab" aria-expanded="true" ui-sref="index.pipelineConfig.job.settings"> Job Settings <span class="badge badge-default cursor-popover" data-placement="bottom" style="margin-left:5px" onmouseenter="$(this).tooltip('show')" title="{{pipeConfig.popOverOptions.popOverTitles.job}}">?</span></a>
            </li>
            <li ui-sref-active="active" style="min-width:100px;">
                <a data-target="#jTasks" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.job.tasks"> Tasks <span class="badge badge-default cursor-popover" data-placement="bottom" style="margin-left:5px" onmouseenter="$(this).tooltip('show')" title="{{pipeConfig.popOverOptions.popOverTitles.task}}">?</span></a>
            </li>
            <li ui-sref-active="active" style="min-width:210px;">
                <a data-target="#jEnvironmentVariables" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.job.variables"> Environment Variables <span class="badge badge-default cursor-popover" data-placement="bottom" style="margin-left:5px" onmouseenter="$(this).tooltip('show')" title="{{pipeConfig.popOverOptions.popOverTitles.environmentVariable}}">?</span></a>
            </li>
            <li ui-sref-active="active" style="min-width:150px;">
                <a data-target="#jResources" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.job.resources"> Resources <span class="badge badge-default cursor-popover" data-placement="bottom" style="margin-left:5px" onmouseenter="$(this).tooltip('show')" title="{{pipeConfig.popOverOptions.popOverTitles.jobResources}}">?</span></a>
            </li>
        </ul>
        <div class="tab-content" ui-view>

        </div>
    </div>
</div>