<div class="col-md-9">
  <div class="tabbable-custom nav-justified">
    <ul class="nav nav-tabs nav-justified width-40">
      <li ui-sref-active="active">
        <a data-target="#stageSettings" data-toggle="tab" aria-expanded="true" ui-sref="index.pipelineConfig.stage.settings"> Stage Settings </a>
      </li>
      <li ui-sref-active="active">
        <a data-target="#jobs" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.stage.jobs"> Jobs </a>
      </li>
      <li ui-sref-active="active">
        <a data-target="#sEnvironmentVar" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.stage.variables"> Environment Variables </a>
      </li>
    </ul>
    <div class="tab-content" ui-view>

    </div>
  </div>
</div>
