<div id="removePipeVar" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Remove Pipeline Environment Variable</h4>
            </div>
            <div class="modal-body">
                <div>
                    Are you sure you want to delete Variable: <strong class="uppercase">{{pipeConfig.environmentVariableUtils.pipelines.variableToEdit.key}}</strong>
                    <br>
                    <hr>
                    <button class="btn btn-danger" ng-click="pipeConfig.environmentVariableUtils.pipelines.deleteVariable(pipeConfig.environmentVariableUtils.pipelines.variableToEdit)" data-dismiss="modal">DELETE</button>
                    <button class="btn" data-dismiss="modal">CANCEL</button>
                </div>
            </div>
        </div>
    </div>
</div>
