<div id="stages">
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th> # </th>
        <th> Stage </th>
        <th> Triggered Manually </th>
        <th> Jobs </th>
        <th> Controls </th>
      </tr>
      </thead>
      <tbody ui-sortable="pipeConfig.stageSortableOptions" ng-class="{'unsortable' : pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'}" class="sortable" ng-model="pipeConfig.allPipelines[pipeConfig.pipelineIndex].stageDefinitions">

      <!--ng-repeat-->
      <tr ng-repeat="stage in pipeConfig.allPipelines[pipeConfig.pipelineIndex].stageDefinitions">
        <td> {{$index+1}} </td>
        <td> {{stage.name}} </td>
        <td> {{stage.isTriggeredManually}} </td>
        <td> {{stage.jobDefinitions.length}} </td>
        <td>
          <button class="btn red unsortable" data-target="#removeStage" data-toggle="modal"
                  ng-click="pipeConfig.getStage(stage)" ng-if="pipeConfig.allPipelines[pipeConfig.pipelineIndex].stageDefinitions.length > 1" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'">Delete</button>
        </td>
      </tr>
      <!--end ng-repeat-->

      </tbody>
    </table>
  </div>
  <button class="btn green" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-target="#addStage" data-toggle="modal">Add Stage</button>
</div>

<div ng-include src="'app/pipelines/views/partials/config/pipeline-options/_add-stage.html'"></div>
<div ng-include src="'app/pipelines/views/partials/config/pipeline-options/_remove-stage.html'"></div>
