<div id="environmentVariables">
    <div class="table-scrollable">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Value </th>
                    <th> Secured </th>
                    <th> Controls </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pipeVar in pipeConfig.allPipelineVars">
                    <td> {{pipeVar.key}} </td>
                    <td> {{pipeVar.isSecured ? '******' : pipeVar.value}} </td>
                    <td> {{pipeVar.isSecured ? 'Yes' : 'No'}} </td>
                    <td>
                        <button class="btn yellow" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-target="#editPipeVar" data-toggle="modal" ng-click="pipeConfig.environmentVariableUtils.pipelines.getVariableForEdit(pipeVar)">Edit</button>
                        <button class="btn red" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-target="#removePipeVar" data-toggle="modal" ng-click="pipeConfig.environmentVariableUtils.pipelines.getVariableForEdit(pipeVar)" ng-class="{'disabled': pipeConfig.variableDeleteButton}">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn green" data-target="#addPipeVar" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-toggle="modal">Add Environment Variable</button>
</div>
<div ng-include src="'app/pipelines/views/partials/config/pipeline-options/_add-variable.html'"></div>
<div ng-include src="'app/pipelines/views/partials/config/pipeline-options/_edit-variable.html'"></div>
<div ng-include src="'app/pipelines/views/partials/config/pipeline-options/_remove-variable.html'"></div>
