@media screen and (max-width: 767px) {
  .m-box {
    width:auto!important;
  }

  .form-step {
    margin-top:-25px!important;
    display:table!important;
  }

  .setup-step {
    display:table-cell!important;
  }

  .setup-step > a.step {
    padding:0!important;
    padding-left:10px!important;
  }

  .modal-dialog-fixed {
    margin-top:10%!important;
    padding:10px!important;
  }

  .trigger-container {
    margin-left:0!important;
  }

  #buttons-row > button.button-next {

  }

  #buttons-row > button.button-previous {
  }

  #buttons-row > button.button-submit {
  }
}

@media screen and (max-width: 992px) {
  .m-box {
    width:auto!important;
  }

}

@media screen and (max-width: 2560px) {
  .m-box {
    width:auto!important;
  }
}

.form-fixed {
  min-width: 270px!important;
  max-width: 1700px!important;
  padding:4%!important;
  margin:auto!important;
}

.modal-dialog-fixed {
  padding-left:4%!important;
  /*margin:5%!important;
  padding-top:10%;
  /*margin:auto!important;*/
}

.modal-content-fixed {
}

.text-fit {
  word-wrap: break-word;
}

.form-step {
  padding:0!important;
  margin:0!important;
  margin-top:-25px!important;
}

#dropdown-materials {
  margin-left:10%!important;
}

.drop-down-fixed {
  width:100px!important;
}

#new-mat-checkbox {
  margin-right:41px;
}

[class~=fa-close]{
  color:#91A3B0!important;
}
