<div class="col-md-9 custom">
    <div class="tabbable-custom nav-justified">
        <ul class="nav nav-tabs nav-justified custom">
            <li ui-sref-active="active">
                <a data-target="#current" data-toggle="tab" aria-expanded="true" ui-sref="index.pipelineHistory.current"> Current </a>
            </li>
            <li ui-sref-active="active">
                <a data-target="#history" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineHistory.history({groupName:pipesHistory.groupName,pipelineName:pipesHistory.pipelineName})"> History </a>
            </li>
        </ul>
        <div class="tab-content" ui-view>

        </div>
    </div>
</div>

