<h3 class="page-title">{{pipesRunManagement.labels.headers.runManagement}}</h3>

<div class="page-bar ">
  <ul class="page-breadcrumb ">
    <li>
      <i class="icon-home"></i>
      <a ui-sref="index.pipelines"> <span>{{pipesRunManagement.labels.breadCrumb.pipelines}}</span></a>
    </li>
    <li>
      <i class="fa fa-angle-right "></i>
      <a
        ui-sref="index.pipelineHistory.history({pipelineName: pipesRunManagement.pipelineName})"><span> {{pipesRunManagement.pipelineName}}</span></a>
    </li>
    <li>
      <i class="fa fa-angle-right "></i>
      <a
        ui-sref="index.pipelineRunManagement({pipelineName: pipesRunManagement.pipelineName, executionID: pipesRunManagement.pipelineExecutionID})"><span> {{pipesRunManagement.pipelineExecutionID}}</span></a>
    </li>
  </ul>
</div>

<div ng-include
     src="'app/pipelines/views/partials/run-management/_materials.html'">
</div>

<div ng-include
     src="'app/pipelines/views/partials/run-management/_stages-panel.html'">
</div>

<div ng-include
     src="'app/pipelines/views/partials/run-management/_runs-info.html'">
</div>
