<div ng-controller="AppController" class="login-body">
    <div class="content content-custom">
        <!-- BEGIN LOGIN FORM -->
        <div class="logo logo-custom">
            <img src="/assets/images/logo.png">
        </div>
        <div>
            <h1 style="color: white; text-align: center">Welcome!</h1>
        </div>
        <br>
        <form class="login-form login-form-custom" ng-show="showLoginForm">
            <div class="form-header">
                <div class="form-title font-green heading-three">Sign In</div>
            </div>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
            <div class="forms">
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="email" autocomplete="off" placeholder="Username" name="username" ng-model="email">
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" ng-model="password">
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn green uppercase btn-login" ng-click="login()">Login</button>
                    <div class="display-inline">
                        <label class="rememberme check login-remember-fix">
                            <div class="checker"><span><input type="checkbox" name="remember" value="1"></span>
                                <div class="display-inline">Remember</div>
                            </div>
                        </label>
                        <div class="pull-right display-inline" ng-click="showForgotPassword()" id="forget-password-container"><a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a></div>
                    </div>
                </div>
                <div class="login-options login-opts">
                    <div class="heading-four">Or login with</div>
                    <div class="socicons icons-container pull-right">
                        <a ng-click="authenticate('github')" class="socicon-btn socicon-btn-circle socicon-solid bg-dark bg-hover-grey-salsa font-white bg-hover-white socicon-github" style="text-decoration:none;" data-original-title="Github"></a>
                    </div>
                </div>
            </div>
            <div class="create-account create-acc-custom">
                <p class="text-holder">
                    <a id="register-btn" class="uppercase" ng-click="showRegistration()">Create an account</a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" ng-show="showForgotPasswordForm">
            <h3 class="font-green">Forget Password ?</h3>
            <p class="font-green"> Enter your e-mail address below to reset your password. </p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"> </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default" ng-click="showLogin()">Back</button>
                <button type="submit" class="btn btn-success uppercase pull-right" id="submit-forgot-password">Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
        <!--BEGIN REGISTER FORM-->
        <form class="login-form log-box login-form-custom" ng-show="showRegisterForm">
            <div class="form-group form-md-line-input">
                <input type="email" class="form-control" ng-model="register_email">
                <label>Email</label>
            </div>
            <div class="form-group form-md-line-input">
                <input type="password" class="form-control" ng-model="register_password">
                <label>Password</label>
            </div>

            <div class="form-group form-md-line-input">
                <input type="password" class="form-control" ng-model="confirm_password">
                <label>Confirm Password</label>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn green btn-block uppercase btn-login" id="register-user" ng-click="register()">Register</button>
            </div>
            </br>

            <div class="form-actions">
                <button type="button" id="back-btn" class="btn btn-default" ng-click="showLogin()">Back</button>

            </div>
        </form>

        <!--END REGISTER FORM-->

    </div>
</div>
