<div id="materials">
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th> Name </th>
        <th> Type </th>
        <th> URL </th>
        <th> Controls </th>
      </tr>
      </thead>
      <tbody>

      <!--ng-repeat-->
      <tr ng-repeat="material in pipeConfig.allMaterials">
        <td> {{material.Name}} </td>
        <td> {{material.Type}} </td>
        <td> {{material.Url}} </td>
        <td>
          <button class="btn yellow" data-target="#editMaterial" data-toggle="modal"
                  ng-click="pipeConfig.getMaterial(material.Name)">Edit</button>
          <button class="btn red" data-target="#removeMaterial" data-toggle="modal" 
                  ng-if="pipeConfig.allMaterials.length > 1" ng-click="pipeConfig.materialDeleteButton = true;pipeConfig.getMaterial(material.Name)" ng-class="{'disabled': pipeConfig.materialDeleteButton}">Delete</button>
        </td>
      </tr>
      <!--end ng-repeat-->

      </tbody>
    </table>
  </div>
  <button class="btn green" data-target="#addMaterials" data-toggle="modal">Add Material</button>
</div>

<div ng-include src="'app/pipelineDefinitions/views/partials/config/pipelineDefinition-options/_add-materials.html'"></div>
<div ng-include src="'app/pipelineDefinitions/views/partials/config/pipelineDefinition-options/_edit-material.html'"></div>
<div ng-include src="'app/pipelineDefinitions/views/partials/config/pipelineDefinition-options/_remove-material.html'"></div>
