<div id="stages">
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th> # </th>
        <th> Stage </th>
        <th> Trigger Type </th>
        <th> Jobs </th>
        <th> Controls </th>
      </tr>
      </thead>
      <tbody>

      <!--ng-repeat-->
      <tr ng-repeat="stage in pipeConfig.allStages">
        <td> {{$index+1}} </td>
        <td> {{stage.Name}} </td>
        <td> {{stage.StageType}} </td>
        <td> {{stage.Jobs.length}} </td>
        <td>
          <button class="btn red" data-target="#removeStage" data-toggle="modal" 
                  ng-click="pipeConfig.stageDeleteButton = true;pipeConfig.getStage(stage.Name)" ng-if="pipeConfig.allStages.length > 1" ng-class="{'disabled': pipeConfig.stageDeleteButton}">Delete</button>
        </td>
      </tr>
      <!--end ng-repeat-->

      </tbody>
    </table>
  </div>
  <button class="btn green" data-target="#addStage" data-toggle="modal">Add Stage</button>
</div>

<div ng-include src="'app/pipelineDefinitions/views/partials/config/pipelineDefinition-options/_add-stage.html'"></div>
<div ng-include src="'app/pipelineDefinitions/views/partials/config/pipelineDefinition-options/_remove-stage.html'"></div>

