<div id="addResourceAgent" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">{{agents.defaultText.addResourceModalHeader}}
          {{agents.agentToAddResource.hostName}}</h4>
      </div>
      <div class="modal-body">
        <div>
          <button class="btn green" ng-click="agents.addResourceInput()">Add Resource</button>
          <button class="btn default" ng-click="agents.removeLastResource()">Remove Last</button>
          <input ng-model="agents.currentAgentResources[$index]" class="form-control custom-add-resource" ng-repeat="resource in agents.currentAgentResources">
          <br>
          <br>
          <button class="btn green" ng-click="agents.addInputResource()" data-dismiss="modal">{{agents.defaultText.submit}}</button>
          <button class="btn" data-dismiss="modal">{{agents.defaultText.cancel}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
