<div id="removeAgent" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">{{agents.defaultText.deleteModalHeader}}</h4>
      </div>
      <div class="modal-body">
        <div>
          {{agents.defaultText.deleteModalConfirm}}<strong>{{agents.agentToDelete.hostName + "-" +agents.agentToDelete.id.substr(0,8)}}</strong>
          <br>
          <hr>
          <button class="btn btn-danger" ng-click="agents.delete(agents.agentToDelete.id)" data-dismiss="modal">{{agents.defaultText.delete}}</button>
          <button class="btn" data-dismiss="modal">{{agents.defaultText.cancel}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
