<h3 class="page-title"> Artifacts</h3>
<div class="portlet light" id="artifacts-portlet">
    <div class="portlet-title right">
        <div class="caption ng-binding">
            <i class="fa fa-cogs"></i>Artifacts
        </div>
    </div>
    <div class="portlet-body">
        <div class="row">
            <div class="input-group input-group-lg add-on custom-search-artifact">
                <input type="text" class="form-control search-query custom-line-height" style="width:30%" ng-model="artifact.query" ng-change="artifact.search()" ng-pattern="/^([\w-]+)$/" placeholder="Search">
            </div>
        </div>
        <div ng-repeat="pipeline in artifact.filteredItems">
            <div class="mt-element-list">
                <div class="mt-list-container list-simple ext-1 group" id="list-container" style="">
                        <div id="artifact-header-container" class="list-toggle done">
                            <div id="artifact-main-header" ng-class="{'status-passed' : pipeline.status == 'PASSED', 'status-failed' : pipeline.status == 'FAILED', 'status-working' : pipeline.status == 'IN_PROGRESS', 'status-canceled' : pipeline.status == 'CANCELED','vertical-center' : true}">
                                <div id="left-container" class="vertical-center center-cell">
                                  <div class="display-inline-block">
                                    <div class="break-word" id="left-container-text-medium">
                                        #{{pipeline.executionId}} {{pipeline.pipelineDefinitionName.substring(0,22)}} <span ng-if="pipeline.pipelineDefinitionName.length > 22">..</span>
                                    </div>
                                    <div class="break-word" id="left-container-text-small">
                                        #{{pipeline.executionId}} {{pipeline.pipelineDefinitionName}}
                                    </div>
                                  </div>
                                  <div class="display-inline">
                                    <div id="expander-small">
                                        <a id="expander" class="list-toggle-container" data-toggle="collapse" data-target="#list{{$index}}" aria-expanded="false"><i class="icon-arrow-down"></i></a>
                                    </div>
                                  </div>
                                </div>
                                <div id="middle-container" class="text-center">
                                  <div class="center-cell vertical-center">
                                    <div ng-repeat="material in pipeline.materials">
                                        <i class="fa fa-gg"></i>
                                        <a target="_blank" href="{{material.gitLink}}" ng-click="artifact.goToGitLink(material.gitLink)" class="green-jungle">
                                            <span>{{material.materialDefinition.commitId.substring(0,6)}}</span></a>
                                        <span> {{material.materialDefinition.comments}}</span>
                                    </div>
                                  </div>
                                </div>
                                <div id="right-container" class="pull-right">
                                    <div class="artifact-user-info-cell vertical-center">
                                      <div class="display-inline">
                                            <div class="break-word"><i class="fa fa-user fa-1x"></i> {{pipeline.materials[0].materialDefinition.authorName}}</div>
                                        </div>
                                        <div class="vertical-center-top">

                                        </div>
                                        <div class="display-inline">
                                            <div class="display-inline break-word" ng-model="pipeline.lastPipelineAction.output"><i class="fa fa-calendar fa-1x"></i><span ng-if="pipeline.lastStage.localEndTime != null">
                                              {{pipeline.lastStage.localEndTime.hour.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}}:{{pipeline.lastStage.localEndTime.minute.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}}:{{pipeline.lastStage.localEndTime.second.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}} on {{pipeline.lastStage.localEndDate.date}}/{{pipeline.lastRun.lastStage.localEndDate.months}}/{{pipeline.lastStage.localEndDate.years}}</div>
                                        </div>
                                    </div>
                                    <div class="display-inline">
                                      <div id="expander-medium">
                                          <a id="expander" class="list-toggle-container" data-toggle="collapse" data-target="#list{{$index}}" aria-expanded="false"><i class="icon-arrow-down"></i></a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="panel-collapse collapse" id="list{{$index}}" aria-expanded="false">
                      <ul class="artifacts-small-material-holder">
                        <li>
                          <p>
                            Materials:
                          </p>
                          <span ng-repeat="material in pipeline.materials">
                          <i class="fa fa-gg"></i>
                          <a display="block" target="_blank" href="{{material.gitLink}}" class="green-jungle">
                            <span>{{material.materialDefinition.commitId.substring(0,6)}}</span></a>
                          <span> {{material.materialDefinition.comments}}</span>
                          <br/>
                          </span>
                          <br>
                          <p>
                            Author:
                          </p>
                          <div class="display-inline-block"><i class="fa fa-user fa-1x"></i> {{pipeline.materials[0].materialDefinition.authorName}}</div>
                          <br>
                          <br>
                          <p>
                            End time:
                          </p>
                          <div class="display-block">
                              <div class="display-inline break-word" ng-model="pipeline.lastPipelineAction.output"><i class="fa fa-calendar fa-1x"></i><span ng-if="pipeline.lastStage.localEndTime != null">
                                {{pipeline.lastStage.localEndTime.hour.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}}:{{pipeline.lastStage.localEndTime.minute.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}}:{{pipeline.lastStage.localEndTime.second.toLocaleString('en-US', {minimumIntegerDigits: 2, useGrouping:false})}} on {{pipeline.lastStage.localEndDate.date}}/{{pipeline.lastRun.lastStage.localEndDate.months}}/{{pipeline.lastStage.localEndDate.years}}</div>
                          </div>
                        </li>
                      </ul>
                      <br>

                      <div id="jstree" js-tree="treeConfig" ng-model="pipeline.artifactsFileStructure[0].children" should-apply="ignoreModelChanges()" tree="treeInstance" tree-events-obj="treeEventsObj" tree-events="select_node:treeEventsObj;">
                      </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
