<div id="jobs" ui-sref-active="active">
  <div class="table-scrollable">
    <table class="table table-bordered table-hover">
      <thead>
      <tr>
        <th> Job </th>
        <th> Resources </th>
        <th> Controls </th>
      </tr>
      </thead>
      <tbody>

      <!--ng-repeat-->
      <tr ng-repeat="job in pipeConfig.allPipelines[pipeConfig.pipelineIndex].stageDefinitions[pipeConfig.stageIndex].jobDefinitions">
        <td> {{job.name}} </td>
        <td>
          <div ng-repeat="resource in job.resources" class="label label-default job-selected-stage vertical-center margin-left-1">{{resource}}</div>
        </td>
        <td>
          <button class="btn red" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-target="#removeJob" data-toggle="modal"
                  ng-click="pipeConfig.getJob(job)" ng-if="pipeConfig.allPipelines[pipeConfig.pipelineIndex].stageDefinitions[pipeConfig.stageIndex].jobDefinitions.length > 1">Delete</button>
        </td>
      </tr>
      <!--end ng-repeat-->

      </tbody>
    </table>
  </div>
  <button class="btn green" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-target="#addJob" data-toggle="modal">Add Job</button>
</div>

<div ng-include src="'app/pipelines/views/partials/config/stage-options/_add-job.html'"></div>
<div ng-include src="'app/pipelines/views/partials/config/stage-options/_remove-job.html'"></div>
