<div id="stageVars">
    <div class="table-scrollable">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th> Name </th>
                    <th> Value </th>
                    <th> Secured </th>
                    <th> Controls </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stageVar in pipeConfig.allPipelines[pipeConfig.pipelineIndex].stageDefinitions[pipeConfig.stageIndex].environmentVariables">
                    <td> {{stageVar.key}} </td>
                    <td> {{stageVar.isSecured ? '******' : stageVar.value}} </td>
                    <td> {{stageVar.isSecured ? 'Yes' : 'No'}} </td>
                    <td>
                        <button class="btn yellow" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-target="#editStageVar" data-toggle="modal" ng-click="pipeConfig.environmentVariableUtils.stages.getVariableForEdit(stageVar)">Edit</button>
                        <button class="btn red" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-target="#removeStageVar" data-toggle="modal" ng-click="pipeConfig.environmentVariableUtils.stages.getVariableForEdit(stageVar)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="btn green" ng-disabled="pipeConfig.allPipelines[pipeConfig.pipelineIndex].permissionType != 'ADMIN'" data-target="#addStageVar" data-toggle="modal">Add Environment Variable</button>
</div>
<div ng-include src="'app/pipelines/views/partials/config/stage-options/_add-variable.html'"></div>
<div ng-include src="'app/pipelines/views/partials/config/stage-options/_edit-variable.html'"></div>
<div ng-include src="'app/pipelines/views/partials/config/stage-options/_remove-variable.html'"></div>
