<div id="addNewMaterial" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-fixed">
        <div class="modal-content modal-content-fixed">
            <div class="modal-header">
                <div class="pull-right">
                    <!-- <button ></button> -->
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="admin.closeModal()"></button>
                <h4 class="modal-title text-center">{{admin.defaultText.addNewMaterial.newMaterial}}</h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active">

                    <form name="addMaterialForm">
                        <div ng-if="admin.materialType == 'git'">
                            <!-- <form role="form" name="addMaterialForm"> -->
                            <div class="form-group form-md-line-input">
                                <label class="control-label col-md-3 required-fixed form-required-fix">Material Name
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-6">
                                    <input ng-model="admin.formData.material.git.name" type="text" class="form-control" placeholder="" ng-pattern="/^([\w-]+)$/" required/>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="control-label col-md-3">Git Url
                                    <span class="required"> * </span>
                                </label>
                                <div class="col-md-6">
                                    <input ng-model="admin.formData.material.git.url" name="gitUrl" type="text" class="form-control" placeholder="" ng-pattern="/^(https:\/\/*.+\.git)$/" required/>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div ng-show="addMaterialForm.gitUrl.$invalid && addMaterialForm.gitUrl.$touched" class="form-group form-md-line-input">
                                <label class="control-label col-md-3">
                                </label>
                                <div class="col-md-6">
                                    <p id="git-url-error" class="alert alert-danger">
                                        Incorrect Git URL format.
                                    </p>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input">
                                <label class="control-label col-md-3">Git Branch</label>
                                <div class="col-md-6">
                                    <input ng-model="admin.formData.material.git.branch" type="text" class="form-control" placeholder="" ng-pattern="/^([\w-]+)$/"/>
                                    <div class="form-control-focus"></div>
                                </div>
                            </div>
                            <div class="form-group form-md-checkboxes trigger-container">
                                <div class="md-checkbox-list">
                                    <div class="md-checkbox">
                                        <input type="checkbox" id="gitPoll" class="md-check" ng-model="admin.formData.material.git.poll">
                                        <label for="gitPoll">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Poll for changes </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-md-checkboxes trigger-container">
                                <div class="md-checkbox-list">
                                    <div class="md-checkbox">
                                        <input type="checkbox" id="gitCredentials" class="md-check" ng-model="admin.formData.material.git.credentials">
                                        <label for="gitCredentials">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span> Credentials </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="admin.formData.material.git.credentials">
                                <div class="form-group form-md-line-input">
                                    <label class="control-label col-md-3">Username
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input ng-model="admin.formData.material.git.username" type="text" class="form-control" placeholder="{{pipes.wizardInfo.placeholders.gitUsername}}" ng-pattern="/^([\w-]+)$/" required/>
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="control-label col-md-3">Password
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-6">
                                        <input ng-model="admin.formData.material.git.password" type="password" class="form-control" placeholder="{{pipes.wizardInfo.placeholders.gitPassword}}" ng-pattern="/^[0-9A-Za-z.-]{3,32}$/" required/>
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>
                            </div>

                            <!-- </form> -->
                        </div>
                        <!-- </form> -->

                        <div ng-if="admin.materialType == 'existing'">
                            <div class="row">
                                <div class="col-xs-10" id="dropdown-materials">
                                    <label for="span_small" class="control-label">Materials</label>
                                    <select id="span_small" ng-model="" class="form-control select2 select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                        <optgroup label="Your materials">
                                            <option class="drop-down-fixed" value="{{material}}" ng-repeat="material in pipes.currentMaterials">{{material.name}}</option>
                                        </optgroup>
                                    </select>
                                </div>

                            </div>
                        </div>
                        <div id="buttons-row" class="row">
                            <div class="btn-container">
                                <button class="btn green button-next" type="button" data-dismiss="modal" ng-click="admin.addMaterial(admin.formData);admin.closeModal()" ng-class="{'disabled':addMaterialForm.$invalid}">{{admin.defaultText.addNewMaterial.submit}}
                                    <i class="fa fa-angle-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
