<div class="form-admin-server">
  <h3>NuGet Repository</h3>
  <form role="form" action="#">
    <div class="form-group">
      <label class="control-label">Material Name</label>
      <input type="text" placeholder="Material Name" class="form-control"/></div>
    <div class="form-group">
      <label class="control-label">URL</label>
      <input type="text" placeholder="URL" class="form-control"/></div>
    <div class="form-group">
      <label class="control-label">Package ID</label>
      <input type="text" placeholder="Package ID" class="form-control"/></div>
    <div class="form-group">
      <div class="md-checkbox">
        <input type="checkbox" class="md-check ng-untouched ng-valid ng-dirty ng-valid-parse" id="adminPreRelease">
        <label for="adminPreRelease">
          <span class="inc"></span>
          <span class="check"></span>
          <span class="box"></span> Include pre-release </label>
      </div>
      <div class="form-group">
        <div class="md-checkbox">
          <input type="checkbox" class="md-check ng-untouched ng-valid ng-dirty ng-valid-parse" id="adminAutoUpdate">
          <label for="adminAutoUpdate">
            <span class="inc"></span>
            <span class="check"></span>
            <span class="box"></span> Auto update </label>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label">Username</label>
        <input type="text" placeholder="Username" class="form-control"/></div>
      <div class="form-group">
        <label class="control-label">Password</label>
        <input type="password" class="form-control"/></div>
      <div class="margiv-top-10">
        <a href="javascript:;" class="btn green"> Submit </a>
        <a href="javascript:;" class="btn default"> Cancel </a>
      </div>
      </div>
  </form>
</div>
