<div id="resetUserInfo" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="admin.closeUserSettingsModal(resetUserInfo)" aria-hidden="true"></button>
                <h4 class="modal-title">Manage {{admin.selectedUser.email}}</h4>
            </div>
            <div class="modal-body">
                <div>
                    <form role="form" name="resetUserInfo">
                        <div class="form-group form-md-line-input">
                            <label class="control-label col-md-3 required-fixed form-required-fix">User Email
                            </label>
                            <div class="col-md-6">
                                <input ng-model="admin.userDTO.email" type="text" name="userEmail" class="form-control" />
                                <div class="form-control-focus"></div>
                            </div>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="control-label col-md-3 required-fixed form-required-fix">New password
                            </label>
                            <div class="col-md-6">
                                <input ng-model="admin.userDTO.newPassword" ng-pattern="/^[0-9A-Za-z.-]{3,32}$/" ng-minlength="3" ng-maxlength="32" type="password" name="userNewPassword" class="form-control" />
                                <div class="form-control-focus"></div>
                            </div>
                        </div>
                        <div class="form-group form-md-line">
                            <p ng-show="resetUserInfo.userNewPassword.$error.minlength && resetUserInfo.userNewPassword.$dirty" class="alert alert-danger">
                                Password must be minimum 3 symbols.
                            </p>
                            <p ng-show="resetUserInfo.userNewPassword.$error.maxlength && resetUserInfo.userNewPassword.$dirty" class="alert alert-danger">
                                Password must be maximum 32 symbols.
                            </p>
                            <p ng-show="!(resetUserInfo.userNewPassword.$error.maxlength) && !(resetUserInfo.userNewPassword.$error.minlength) && resetUserInfo.userNewPassword.$error.pattern && resetUserInfo.userNewPassword.$dirty" class="alert alert-danger">
                                Forbidden password characters!
                            </p>
                        </div>
                        <div class="form-group form-md-line-input">
                            <label class="control-label col-md-3 required-fixed form-required-fix">Confirm password
                            </label>
                            <div class="col-md-6">
                                <input ng-pattern="admin.userDTO.newPassword" ng-model="admin.userDTO.confirmNewPassword" ng-pattern="admin.userDTO.newPassword" ng-minlength="3" ng-maxlength="32" type="password" name="confirmNewPassword" class="form-control" />
                                <div class="form-control-focus"></div>
                            </div>
                        </div>
                        <div class="form-group form-md-line">
                            <p ng-show="resetUserInfo.confirmNewPassword.$touched && admin.userDTO.confirmNewPassword !== admin.userDTO.newPassword" class="alert alert-danger">
                                Passwords do not match!
                            </p>
                        </div>
                        <br>
                        <div class="form-group text-center">
                          <button class="btn green" ng-click="admin.submitUserSettingsForm(admin.selectedUser,admin.userDTO,resetUserInfo)" data-dismiss="modal" type="submit" ng-class="{'disabled':resetUserInfo.$invalid || (admin.userDTO.newPassword !== admin.userDTO.confirmNewPassword)}">{{admin.defaultText.buttonTitles.ok}}</button>
                          <button class="btn btn-default" data-dismiss="modal" ng-click="admin.closeUserSettingsModal(resetUserInfo)">{{admin.defaultText.buttonTitles.cancel}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
