<div class="portlet light custom-portlet">
  <div class="portlet-title custom-title">
    <div class="caption custom-caption">
      {{pipesRunManagement.defaultHeaders.materialsTitle}} : {{pipesRunManagement.currentPipelineRun.materials[0].type}}
      {{pipesRunManagement.currentPipelineRun.materials[0].repositoryUrl}}
    </div>
    <div class="tools right">
      <a href="javascript:;" class="expand"> </a>
    </div>
  </div>
  <div class="portlet-body path-materials">
    <!--<div class="row ">-->
      <!--{{pipesRunManagement.defaultHeaders.commitId}} {{pipesRunManagement.allMaterials[0].ExecutionMaterials[0].MaterialSpecificDetails['commit-id']}}-->
    <!--</div>-->
    <!--<div class="row " ng-repeat="file in pipesRunManagement.allMaterials[0].ExecutionMaterials[0].MaterialSpecificDetails.ModifiedFiles">-->
      <!--<p>{{file.Status}}<span></span> <span>{{file.Path}}</span></p>-->
    <!--</div>-->
  </div>
</div>
