<div class="portlet light custom-portlet">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-cogs"></i>Pipeline Run Info
      </div>
      <div class="tools right">
        <a href="javascript:;" class="collapse"> </a>
      </div>
    </div>
  <div class="portlet-body">
    <div class="caption custom-caption width-100">
        <div class="display-inline-block pull-left height-100px width-15">
      <div class="run-item-container status-passed pull-left" ng-class="{'status-passed': pipesRunManagement.currentPipelineRun.status == 'PASSED', 'status-failed' : pipesRunManagement.currentPipelineRun.status == 'FAILED', 'status-working' : pipesRunManagement.currentPipelineRun.status == 'IN_PROGRESS', 'status-canceled' : pipesRunManagement.currentPipelineRun.status == 'CANCELED', 'status-awaiting' : pipesRunManagement.currentPipelineRun.status == 'AWAITING'}">
        </div>
        <div class="vertical-center-static text-center">
            #{{pipesRunManagement.currentPipelineRun.executionId}} {{pipesRunManagement.currentPipelineRun.pipelineDefinitionName.substring(0,22)}} <span ng-if="pipesRunManagement.currentPipelineRun.pipelineDefinitionName.length > 27">...</span>

        </div>
        </div>
      <div class="display-inline-block pull-left height-100px width-40">
        <div class="vertical-center border-left-grey pull-left height-70px"></div>
        <div class="vertical-center">
          <div class="padding-left-5">
            Materials:
            <div class="width-100 padding-top-1" ng-repeat="material in pipesRunManagement.currentPipelineRun.materials">
              <i class="fa fa-github"></i>
              <div class="display-inline-block margin-left-1">
                <a target="_blank" href="{{material.gitLink}}">{{material.materialDefinition.commitId.substring(0, 7)}}</a> - {{material.materialDefinition.comments}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="width-20 height-100px display-inline-block">
        <div class="width-100 vertical-center border-left-grey pull-left height-70">
          <div class="width-100 vertical-center padding-left-5">
          Duration: <i class="fa fa-clock-o"></i>
            <div class="margin-left-1 display-inline-block">
              24h 23m 22s
            </div>
          <div class="padding-top-5">
            Last Run: <i class="fa fa-calendar"></i>
            <div class="margin-left-1 display-inline-block">
              {{pipesRunManagement.currentPipelineRun.lastPipelineAction.output}}
            </div>
          </div>
            </div>
        </div>
      </div>
      <div class="width-20 height-100px display-inline-block">
        <div class="border-left-grey pull-left width-100 height-70 vertical-center">
          <div class="padding-left-5 width-100 vertical-center">
            Trigger Reason: <i class="fa fa-user"></i>
            <div class="margin-left-1 display-inline-block">
              {{pipesRunManagement.currentPipelineRun.triggerReason}}
            </div>
            <div class="padding-top-5">
                Commit Author: <i class="fa fa-user"></i>
              <div class="margin-left-1 display-inline-block">
                {{pipesRunManagement.currentPipelineRun.materials.slice(-1)[0].materialDefinition.authorName}}
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--<div class="portlet-body path-materials">-->
    <!--<div class="row ">-->
      <!--{{pipesRunManagement.defaultHeaders.commitId}} {{pipesRunManagement.allMaterials[0].ExecutionMaterials[0].MaterialSpecificDetails['commit-id']}}-->
    <!--</div>-->
    <!--<div class="row " ng-repeat="file in pipesRunManagement.allMaterials[0].ExecutionMaterials[0].MaterialSpecificDetails.ModifiedFiles">-->
      <!--<p>{{file.Status}}<span></span> <span>{{file.Path}}</span></p>-->
    <!--</div>-->
  <!--</div>-->
</div>
