<div class="portlet light custom-portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-cogs"></i>Console
        </div>
        <div class="tools right">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>

    <div class="portlet-body">
        <div class="portlet light custom-portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-terminal"></i>{{pipesRunManagement.selectedJob.jobDefinitionName}} Output
                </div>
            </div>
            <div class="portlet-body">
                <div class="clearfix"></div>
                <div id="console" class="tab-pane fade in active" style="padding-bottom:10px">
                    <pre class="console" ng-class="{'full-screen' : pipesRunManagement.isFullScreen == true}">
                            <i class="ico" style="color:white" ng-class="{'fa fa-expand fa-2x' : pipesRunManagement.isFullScreen == false, 'fa fa-compress fa-2x': pipesRunManagement.isFullScreen == true}" ng-click="pipesRunManagement.toggleFullScreen()"></i>
                        <div ng-bind-html="pipesRunManagement.currentPipelineRun.stages[pipesRunManagement.toggleRun].jobs[pipesRunManagement.jobIndex].processedReport">

                        </div>
                    </pre>
                </div>
                </div>
            </div>
    </div>
</div>

<div ng-include src="'app/pipelines/views/partials/run-management/_modal-rerun-stage.html'"></div>