<div class="portlet light custom-portlet">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-terminal"></i>{{pipesRunManagement.selectedJob.jobDefinitionName}} Output
        </div>
    </div>
    <div class="panel-body">
        <!--<div>-->
            <!--<div class="col-md-2"><strong class="uppercase">{{pipesRunManagement.runInfoDefaultText.scheduled}}</strong>-->
                <!--<p></p>{{pipesRunManagement.selectedJob.Start | date:'dd.MM.yyyy HH:mm' }} </div>-->
            <!--<div class="col-md-2"><strong class="uppercase">{{pipesRunManagement.runInfoDefaultText.state}}</strong>-->
                <!--<p></p>{{pipesRunManagement.selectedJob.State}} </div>-->
            <!--<div class="col-md-2"><strong class="uppercase">{{pipesRunManagement.runInfoDefaultText.duration}}</strong>-->
                <!--<p></p>{{pipesRunManagement.selectedJob.Duration | date:'HH:mm'}} </div>-->
            <!--<div class="col-md-2"><strong class="uppercase">{{pipesRunManagement.runInfoDefaultText.agent}}</strong>-->
                <!--<p></p>Temp</div>-->
            <!--<div class="col-md-2"><strong class="uppercase">{{pipesRunManagement.runInfoDefaultText.currentTask}}</strong>-->
                <!--<p></p>Temp</div>-->
            <!--<div class="col-md-2"><strong class="uppercase">{{pipesRunManagement.runInfoDefaultText.trigger}}</strong>-->
                <!--<p></p>TEMP </div>-->
        <!--</div>-->

        <div class="clearfix"></div>

        <!--<div class="run-navs">-->
            <!--<ul class="nav nav-tabs">-->
                <!--<li class="active"><a href="" data-target="#console" data-toggle="tab">{{pipesRunManagement.runInfoDefaultText.tabConsole}}</a></li>-->
                <!--&lt;!&ndash;<li><a href="" data-target="#artifacts" data-toggle="tab">{{pipesRunManagement.runInfoDefaultText.tabArtifacts}}</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><a href="" data-target="#tests" data-toggle="tab">{{pipesRunManagement.runInfoDefaultText.tabTests}}</a></li>&ndash;&gt;-->
            <!--</ul>-->
            <!--<div class="tab-content">-->
                <!--console-->
                <div id="console" class="tab-pane fade in active">
                    <pre class="console" scroll-glue ng-bind-html="pipesRunManagement.currentPipelineRun.stages[pipesRunManagement.toggleRun].jobs[pipesRunManagement.jobIndex].report"></pre>
                    <!--<pre class="console" ng-bind-html="pipesRunManagement.randomText" scroll-glue>-->
                    <!--</pre>-->

                </div>

                <!--&lt;!&ndash;artifacts&ndash;&gt;-->
                <!--<div id="artifacts" class="tab-pane fade">-->
                    <!--<div id="tree_1" class="tree-demo">-->
                        <!--<ul>-->
                            <!--<li> Root node 1-->
                                <!--<ul>-->
                                    <!--<li data-jstree='{ "selected" : true }'>-->
                                        <!--<a href="javascript:;"> Initially selected </a>-->
                                    <!--</li>-->
                                    <!--<li data-jstree='{ "icon" : "fa fa-briefcase icon-state-success " }'> custom icon URL</li>-->
                                    <!--<li data-jstree='{ "opened" : true }'> initially open-->
                                        <!--<ul>-->
                                            <!--<li data-jstree='{ "disabled" : true }'> Disabled Node</li>-->
                                            <!--<li data-jstree='{ "type" : "file" }'> Another node</li>-->
                                        <!--</ul>-->
                                    <!--</li>-->
                                    <!--<li data-jstree='{ "icon" : "fa fa-warning icon-state-danger" }'> Custom icon class (bootstrap)-->
                                    <!--</li>-->
                                <!--</ul>-->
                            <!--</li>-->
                            <!--<li data-jstree='{ "type" : "file" }'>-->
                                <!--<a href="http://www.jstree.com"> Clickanle link node </a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash;Tests&ndash;&gt;-->
                <!--<div id="tests" class="tab-pane fade">-->
                    <!--TESTs-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>

</div>
