<div class="stage" ng-click="pipesRunManagement.selectStage(stage,$index);pipesRunManagement.toggleRun=$index">
    <div class="panel panel-info s-box-inner">
        <a class="p-link">
            <div class="panel-heading s-head-box" data-ng-class="{'selected-stage':pipesRunManagement.toggleRun == $index}">
                <div class="p-head">
                    <p class="p-name" ng-model="stage">
                        {{stage[0].stageDefinitionName}}
                        <span ui-sref="index.pipelineConfig.stage.settings({groupName:pipesRunManagement.groupName,pipelineName:pipesRunManagement.pipelineName,stageName:stage[0].stageDefinitionName})" class="icon-settings font-lg ico"></span>

                    </p>

                </div>
            </div>
        </a>
        <div class="panel-body">
            <div>
                <p>
                    <strong>{{pipesRunManagement.stageDefaultText.run}}</strong>
                    <span ng-if="stage.LastRun.ExecutionID==0">Not Executed yet</span>
                    <span ng-if="stage.LastRun.ExecutionID!=0">
 <label>
   <input type="number" name="input"
          min="1" max="{{stage.length}}" class="spinner-custom" ng-value="stage.length"
          ng-change="pipesRunManagement.selectStage(null,$index);pipesRunManagement.selectRun(pipesRunManagement.lastRunSelected)"
          ng-model="pipesRunManagement.lastRunSelected" required>
 </label>
          of {{stage.length}}</span>
                </p>
                <p>
                    <strong>{{pipesRunManagement.stageDefaultText.state}}</strong>
                    <span class="btn btn-success btn-xs" ng-if="stage[stage.length-1].status=='PASSED'">Passed</span>
                    <span class="btn btn-danger btn-xs" ng-if="stage[stage.length-1].status=='FAILED'">Failed</span>
                    <span class="btn yellow btn-xs" ng-if="stage[stage.length-1].status=='IN_PROGRESS'">Running</span>
                    <span class="btn yellow-mint btn-xs" ng-if="stage[stage.length-1].status=='SCHEDULED'">Scheduled</span>
                    <span class="btn yellow-mint btn-xs" ng-if="stage[stage.length-1].status=='SCHEDULED' && stage.Runs.LastRunSelected==undefined ">{{stage.LastRun.status}}</span>
                    <span class="btn btn-default btn-xs" ng-if="stage[stage.length-1].status=='NOT_RUN'">Not run</span>
                </p>

                <p>
                    <strong>{{pipesRunManagement.stageDefaultText.start}}</strong>
                    <span ng-if="stage.LastRun.ExecutionID!=0">{{stage.Runs[stage.LastRunSelected-1].Start | date:'dd.MM.yyyy HH:mm'}}</span>

                    <span ng-if="stage.LastRun.ExecutionID==0">Not Executed yet</span>
                </p>

                <p>
                    <strong>{{pipesRunManagement.stageDefaultText.duration}}</strong>
                    <span ng-if="stage[pipesRunManagement.lastRunSelected - 1].executionId!=0">{{stage[stage.LastRunSelected-1].duration}}</span>
                    <span ng-if="stage[pipesRunManagement.lastRunSelected - 1].executionId==0">Not Executed yet</span>

                </p>

                <p><strong>{{pipesRunManagement.stageDefaultText.trigger}}</strong> TEMP </p>
                <div class="controls left-buttons-stage">
                    <button class="btn btn-default" ng-click="pipesRunManagement.selectAlllJobs(stage);pipesRunManagement.reRunStageJobs(stage)">
                        <span class="glyphicon glyphicon-play control"></span>
                    </button>

                    <button class="btn btn-default" data-target="#rerunStage" data-toggle="modal" ng-click="pipesRunManagement.setSelectedStageForReRun(stage)">
                        <span class="glyphicon glyphicon-play control"></span><i class="fa fa-plus"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
