<div class="stage" ng-click="pipesRunManagement.selectStage($index);pipesRunManagement.toggleRun=$index">
    <div class="panel panel-info p-box-inner">
        <!--<a class="p-link">-->
        <div class="p-link">
            <div class="panel-heading p-head-box">
                    <div class="display-inline-block width-100">
                        {{stage.stageDefinitionName}}
                        <!--<span ui-sref="index.pipelineConfig.stage.settings({groupName:pipesRunManagement.groupName,pipelineName:pipesRunManagement.pipelineName,stageName:stage[0].stageDefinitionName})" class="icon-settings font-lg ico"></span>-->
                        <div class="pull-right display-inline-block">
                            <i ng-class="{'fa fa-check text-success vertical-center-icon': stage.status == 'PASSED', 'fa fa-times text-danger vertical-center-icon' : stage.status == 'FAILED', 'fa fa-refresh fa-spin text-warning vertical-center-icon' : stage.status != 'PASSED' && stage.status != 'FAILED' && stage.status != 'NOT_RUN' && stage.status != 'CANCELED', 'fa fa-ban vertical-center-icon' : stage.status == 'CANCELED'}"></i>
                        </div>
                </div>
            </div>
        </div>
        <!--</a>-->
        <div class="panel-body">
            <div>
                <p>
                    <!--<strong>{{pipesRunManagement.stageDefaultText.run}}</strong>-->
                    <!--<span ng-if="stage.LastRun.ExecutionID==0">Not Executed yet</span>-->
                    <!--<span ng-if="stage.LastRun.ExecutionID!=0">-->
 <!--<label>-->
   <!--<input type="number" name="input"-->
          <!--min="1" max="{{stage.length}}" class="spinner-custom" ng-value="stage.length"-->
          <!--ng-change="pipesRunManagement.selectStage(null,$index);pipesRunManagement.selectRun(pipesRunManagement.lastRunSelected)"-->
          <!--ng-model="pipesRunManagement.lastRunSelected" required>-->
 <!--</label>-->
          <!--of {{stage.length}}</span>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<strong>{{pipesRunManagement.stageDefaultText.state}}</strong>-->
                    <!--<span class="btn btn-success btn-xs" ng-if="stage[stage.length-1].status=='PASSED'">Passed</span>-->
                    <!--<span class="btn btn-danger btn-xs" ng-if="stage[stage.length-1].status=='FAILED'">Failed</span>-->
                    <!--<span class="btn yellow btn-xs" ng-if="stage[stage.length-1].status=='IN_PROGRESS'">Running</span>-->
                    <!--<span class="btn yellow-mint btn-xs" ng-if="stage[stage.length-1].status=='SCHEDULED'">Scheduled</span>-->
                    <!--<span class="btn yellow-mint btn-xs" ng-if="stage[stage.length-1].status=='SCHEDULED' && stage.Runs.LastRunSelected==undefined ">{{stage.LastRun.status}}</span>-->
                    <!--<span class="btn btn-default btn-xs" ng-if="stage[stage.length-1].status=='NOT_RUN'">Not run</span>-->
                <!--</p>-->

                <!--<p>-->
                    <!--<strong>{{pipesRunManagement.stageDefaultText.start}}</strong>-->
                    <!--<span ng-if="stage.LastRun.ExecutionID!=0">{{stage.Runs[stage.LastRunSelected-1].Start | date:'dd.MM.yyyy HH:mm'}}</span>-->

                    <!--<span ng-if="stage.LastRun.ExecutionID==0">Not Executed yet</span>-->
                <!--</p>-->

                <!--<p>-->
                    <!--<strong>{{pipesRunManagement.stageDefaultText.duration}}</strong>-->
                    <!--<span ng-if="stage[pipesRunManagement.lastRunSelected - 1].executionId!=0">{{stage[stage.LastRunSelected-1].duration}}</span>-->
                    <!--<span ng-if="stage[pipesRunManagement.lastRunSelected - 1].executionId==0">Not Executed yet</span>-->

                <!--</p>-->

                <!--<p><strong>{{pipesRunManagement.stageDefaultText.trigger}}</strong> TEMP </p>-->
                <div class="job-list">
                <div class="height-50px" ng-repeat="job in stage.jobs" ng-class-even="'custom-nth-color'">
                    <div class="run-item-container display-inline-block width-100 pull-left pointer" ng-class="{'status-passed': job.status == 'PASSED', 'status-failed' : job.status == 'FAILED', 'status-working' : job.status == 'RUNNING', 'status-awaiting' : job.status == 'AWAITING' || (job.status != 'PASSED' && job.status != 'FAILED' && job.status != 'RUNNING' && job.status != 'CANCELED'), 'status-canceled' : job.status == 'CANCELED', 'jobSelected' : pipesRunManagement.selectedJob.id == job.id}" ng-click="pipesRunManagement.selectJob($parent.$index,$index)">
                        <div class="vertical-center display-inline-block width-100 pull-left padding-left-5">
                        {{job.jobDefinitionName}}
                        </div>
                        <span class="pull-right position-relative padding-right-5" aria-hidden="true">
                            <i class="fa fa-list"></i>
                        </span>
                    </div>
                </div>
            </div>
                <div class="controls left-buttons-stage">
                    <button class="btn btn-primary" data-target="#selectJobs" data-toggle="modal" ng-click="pipesRunManagement.selectJobs(stage);">
                        Run
                        <span class="glyphicon glyphicon-play control"></span>
                    </button>

                    <!--<button class="btn btn-default" data-target="#rerunStage" data-toggle="modal" ng-click="pipesRunManagement.setSelectedStageForReRun(stage)">-->
                        <!--<span class="glyphicon glyphicon-play control"></span><i class="fa fa-plus"></i>-->
                    <!--</button>-->

                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include src="'app/pipelines/views/partials/run-management/_select-jobs.html'"></div>
