<div id="removeTask" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Remove Task</h4>
      </div>
      <div class="modal-body">
        <div>
          Are you sure you want to delete Task: <strong class="uppercase">#{{pipeConfig.taskIndex+1}}</strong>
          <br>
          <hr>
          <button class="btn btn-danger" ng-click="pipeConfig.deleteTask(pipeConfig.taskIndex)" data-dismiss="modal">DELETE</button>
          <button class="btn" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>
</div>
