#typed-text{
    height: 50px;
}
#services{
    padding-top: 10px;
}
#navbar-brand{
    color: #E55E09;
}
#hawk-github{
    color: black;
}

.portlet-title {
    background-color: #E55E09;
    border-bottom: 0;
    border-bottom-width: 0px;
    border-bottom-style: initial;
    border-bottom-color: initial;
    padding: 0 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-bottom: 0;
    color: #fff;
    min-height: 41px;
    border-radius: 2px 2px 0 0;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.42857143;
}