<h3 class="page-title"> {{pipeConfig.state.params.pipelineName}}
  <small>Config</small>
</h3>

<div class="page-bar ">
  <ul class="page-breadcrumb ">
    <li>
      <i class="icon-home"></i>
      <a ui-sref="index.pipelineDefinitions"> <span>Pipelines</span></a>
    </li>
    <li>
      <i class="fa fa-angle-right "></i>
      <a
        ui-sref="index.pipelineConfig.pipelineDefinition.general({groupName:pipeConfig.state.params.groupName, pipelineName:pipeConfig.state.params.pipelineName})">
        {{pipeConfig.state.params.pipelineName}}</a>
    </li>
    <li ng-if="pipeConfig.state.params.stageName">
      <i class="fa fa-angle-right "></i>
      <a ui-sref="index.pipelineConfig.stage.settings({groupName:pipeConfig.state.params.groupName, pipelineName:pipeConfig.state.params.pipelineName, stageName:pipeConfig.state.params.stageName})">
        {{pipeConfig.state.params.stageName}}</a>
    </li>
    <li ng-if="pipeConfig.state.params.jobName">
      <i class="fa fa-angle-right "></i>
      <a
        ui-sref="index.pipelineConfig.job.settings({groupName:pipeConfig.state.params.groupName, pipelineName:pipeConfig.state.params.pipelineName, stageName:pipeConfig.state.params.stageName, jobName:pipeConfig.state.params.jobName})">
        {{pipeConfig.state.params.jobName}}</a>
    </li>
  </ul>
</div>

<div class="mt-element-list col-md-3" style="padding-left: 0!important;">

  <div class="mt-list-head list-simple ext-1 font-white p-config-head"
       ui-sref="index.pipelineConfig.pipelineDefinition.general({groupName:pipeConfig.pipelineDefinition.GroupName, pipelineName:pipeConfig.pipelineDefinition.Name})"
       ng-class="{'selectedS': pipeConfig.isPipelineSelected()}" ng-click="pipeConfig.getPipelineForConfig(pipeConfig.state.params.pipelineName)">

    <div class="list-head-title-container">
      <span class="badge badge-default pull-right bg-white font-green bold">{{pipeConfig.allStages.length}}</span>
      <h3 class="list-title">{{pipeConfig.state.params.pipelineName}}</h3>
    </div>

  </div>
  <div class="mt-list-container list-simple ext-1 group">

    <div ng-repeat="stage in pipeConfig.allStages">
      <a class="list-toggle-container" data-toggle="collapse" data-target="#{{stage.Name}}" aria-expanded="false">

        <div class="list-toggle uppercase s-config"
             ui-sref="index.pipelineConfig.stage.settings({groupName:pipeConfig.pipelineDefinition.GroupName, pipelineName:pipeConfig.pipelineDefinition.Name, stageName:stage.Name})"
             id="{{'stage'+$index}}" ng-class="{'selectedS': pipeConfig.isStageSelected(stage.Name)}" ng-click="pipeConfig.getStage(stage.Name)">
                <span class="clip">{{stage.Name}}</span>
          <span class="badge badge-default pull-right bg-white font-green bold"> {{stage.Jobs.length}}</span>
        </div>
      </a>

      <div class="panel-collapse collapse" id="{{stage.Name}}"
           ng-class="{'in': pipeConfig.isExpanded(stage.Name) }">
        <ul>
          <li class="mt-list-item job-item" ng-repeat="job in pipeConfig.allJobs" id="{{stage.Name+'job'+$index}}" ng-class="{'selectedS': pipeConfig.isJobSelected(job.Name)}"
              ui-sref="index.pipelineConfig.job.settings({groupName:pipeConfig.pipelineDefinition.GroupName, pipelineName:pipeConfig.pipelineDefinition.Name, stageName:stage.Name, jobName:job.Name})"
              ng-click="pipeConfig.getJob(job.Name)">
            <div class="list-item-content">
              <h3 class="uppercase clip">
                <a class="job-name">{{job.Name}}</a>
              </h3>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>

<div ui-view>

</div>



