<div class="col-md-9">
  <div class="tabbable-custom nav-justified">
    <ul class="nav nav-tabs nav-justified">
      <li ui-sref-active="active">
        <a data-target="#general" data-toggle="tab" aria-expanded="true" ui-sref="index.pipelineConfig.pipelineDefinition.general"> General Options </a>
      </li>
      <li ui-sref-active="active">
        <a data-target="#materials" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.pipelineDefinition.materials"> Materials </a>
      </li>
      <li ui-sref-active="active">
        <a data-target="#stages" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.pipelineDefinition.stages"> Stages </a>
      </li>
      <li ui-sref-active="active">
        <a data-target="#environmentVariables" data-toggle="tab" aria-expanded="false" ui-sref="index.pipelineConfig.pipelineDefinition.variables"> Environment Variables </a>
      </li>
    </ul>
    <div class="tab-content" ui-view>

    </div>
  </div>
</div>

