<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StartProcessName" value="java.exe"/>
    <add key="StartArgs" value="-jar hawkcd-0.0.5-alpha.47.jar"/>
    <add key="StopArgs" value=""/>
    <add key="EventSourceName" value="HawkCDServer"/>
    <add key="WorkingDirectory" value="C:\Program Files (x86)\HawkCd\Server"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>