<form name="#changePassword">
  <div class="form-group">
    <label class="control-label">Current Password</label>
    <input type="password" class="form-control" ng-model="user.newPasswordObject.oldPassword"/></div>
  <div class="form-group">
    <label class="control-label">New Password</label>
    <input type="password" class="form-control" ng-model="user.newPasswordObject.newPassword"/></div>
  <div class="form-group">
    <label class="control-label">Re-type New Password</label>
    <input type="password" class="form-control" ng-model="user.newPasswordObject.confirmNewPassword"/></div>
  <div class="margin-top-10">
    <a href="javascript:;" class="btn green" ng-click="user.updateUserPassword(user.newPasswordObject)"> Change Password </a>
    <a href="javascript:;" class="btn default"> Cancel </a>
  </div>
</form>
