<form action="#">
  <table class="table table-bordered table-striped">
    <tr>
      <td> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus..</td>
      <td>
        <label class="uniform-inline">
          <input type="radio" name="optionsRadios1" value="option1"/> Yes </label>
        <label class="uniform-inline">
          <input type="radio" name="optionsRadios1" value="option2" checked/> No </label>
      </td>
    </tr>
    <tr>
      <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon</td>
      <td>
        <label class="uniform-inline">
          <input type="checkbox" value=""/> Yes </label>
      </td>
    </tr>
    <tr>
      <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon</td>
      <td>
        <label class="uniform-inline">
          <input type="checkbox" value=""/> Yes </label>
      </td>
    </tr>
    <tr>
      <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon</td>
      <td>
        <label class="uniform-inline">
          <input type="checkbox" value=""/> Yes </label>
      </td>
    </tr>
  </table>
  <!--end profile-settings-->
  <div class="margin-top-10">
    <a href="javascript:;" class="btn green"> Save Changes </a>
    <a href="javascript:;" class="btn default"> Cancel </a>
  </div>
</form>
