<div class="forgot">
  <div class="logo">
    <a ui-sref="index">
      <img src="../assets/pages/img/logo-big.png" alt="" /> </a>
  </div>
  <div class="content">
    <form class="forget-form" ui-sref="index.forgotpass" method="post">
      <h3 class="font-green">Forget Password ?</h3>
      <p> Enter your e-mail address below to reset your password. </p>
      <div class="form-group">
        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" /> </div>
      <div class="form-actions">
        <button type="button" id="back-btn" class="btn btn-default">Back</button>
        <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
      </div>
    </form>
  </div>
  <div class="copyright"> 2016 © Hawk. RnD Solutions. </div>
</div>
