<h3 class="page-title"> Profile</h3>
<div class="page-bar ">
    <ul class="page-breadcrumb ">
        <li>
            <i class="icon-home"></i>
            <a> <span>Profile</span></a>
        </li>
    </ul>
</div>

<div class="portlet light">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-user"></i> {{user.defaultText.pageHeader}}
        </div>
        <div class="tools right">
            <a href="javascript:;" class="collapse"> </a>
        </div>
    </div>
    <div class="portlet-body">
        <div id="profileSettings" style="padding: 0 0 10px 10px">
            <form name="editUser">
                <div style="width: 300px">
                    <!-- <div class="form-group form-md-line-input">
                        <input type="text" class="form-control" ng-model="user.updatedUser.UserName" required>
                        <label>Username</label>
                    </div> -->
                    <div class="form-group form-md-line-input">
                        <span type="text" class="form-control">{{user.currentlyLoggedUser.username}}</span>
                        <label>Email</label>
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="control-label">Current Password</label>
                        <input type="password" class="form-control" ng-model="user.newPasswordObject.oldPassword" />
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="control-label">New Password</label>
                        <input type="password" class="form-control" ng-model="user.newPasswordObject.newPassword" />
                    </div>
                    <div class="form-group form-md-line-input">
                        <label class="control-label">Re-type New Password</label>
                        <input type="password" class="form-control" ng-model="user.newPasswordObject.confirmNewPassword" />
                    </div>
                    <div class="margin-top-10">
                        <button class="btn green-sharp" ng-click="user.updateUserPassword(user.newPasswordObject)">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div ng-include src="'app/profile/views/partials/_change-password.html'"></div>
